header{
    background: rgb(2,0,36);
    background: linear-gradient(329deg, rgba(2,0,36,1) 0%, rgba(142,142,233,1) 31%, rgba(0,212,255,1) 100%);
    color:whitesmoke;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 2px 2px 10px 2px #000000; 
    box-shadow: 2px 2px 10px 2px #000000;
}