:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div {
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
