<div>
  <table aria-describedby="Prestamos" class="table">
    <thead>
      <tr>
        <th scope="col-1">#</th>
        <th scope="col-2">Id Cliente</th>
        <th scope="col-2" class="ocultar">Nombre Cliente</th>
        <th scope="col-2">Monto</th>
        <th scope="col-2">Saldo</th>
        <th scope="col-2" class="ocultar">Forma pago</th>
        <th scope="col-2" class="ocultar">Estado</th>
        <th scope="col-3">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr id="prestamos" class="prestamos" *ngFor="let prestamo of prestamos | async">
        <td class="col-1" id="prestamo-id">{{prestamo.id}}</td>
        <td class="col-1">{{prestamo.idCliente}}</td>
        <td class="col-2" class="ocultar">{{prestamo.nombreCliente}}</td>
        <td class="col-2">{{prestamo.monto | currency}}</td>
        <td class="col-2">{{prestamo.saldo | currency}}</td>
        <td class="col-2" class="ocultar">{{prestamo.formaPago}}</td>
        <td class="col-2" class="ocultar">{{prestamo.estadoPrestamo}}</td>
        <th scope="col-3"><span *ngIf="prestamo.estadoPrestamo === 'ACTIVO'" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abonar"><em class="bi bi-paypal" (click)="abonar(prestamo.id)"></em></span></th>
      </tr>
    </tbody>
</table>
</div>