<table class="table">
    <thead>
      <tr>
        <th scope="col-1">#</th>
        <th scope="col-2">Id Cliente</th>
        <th scope="col-2">Monto</th>
        <th scope="col-2">Saldo</th>
        <th scope="col-3">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestamo of prestamos | async">
        <td class="col-1">{{prestamo.id}}</td>
        <td class="col-2">{{prestamo.idCliente}}</td>
        <td class="col-2">{{prestamo.monto}}</td>
        <td class="col-2">{{prestamo.saldo}}</td>
        <th scope="col-3">Acción</th>
      </tr>
    </tbody>
  </table>